body {
  overflow: hidden; 
}

* {
    
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}



#midLine{

background-color: #FFFFFF;
position: fixed;
top: 0px;

}

#rSide{
	
	background-color: hsl(0, 50%, 50%);
	position: fixed;
	top: 0px;

}

#lSide{
	
	background-color: hsl(120, 50%, 50%);
	position: fixed;
	top: 0px;
	left: 0px;
	
}

#rClick, #lClick{
	position: fixed;

}
